.input {
  font-weight: 400;
  font-size: 24px;
  margin-top: 120px;
  margin-left: 70px;
  margin-bottom: 20px;
  border-style: solid;
  background-color: transparent;
  color: antiquewhite;
  padding: 10px;
  width: 280px;
  border: 2px solid rgb(228, 215, 215);
  border-width: 1px;
  border-radius: 4px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  box-shadow: 39px 24px 41px rgb(10, 10, 10);
}
.input .country-link {
  color: rgb(188, 208, 201);
}
